<%- layout('layouts/boilerplate.ejs') -%>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/campgrounds" method="POST" novalidate class="validatedForm" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Camp Name</label>
        <input 
          class="form-control" 
          type="text" 
          name="campground[title]"
          required
          id="title" />
        <div class="valid-feedback">
          Nice!!! You've got a Camp name.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Camp Location</label>
        <input 
          class="form-control" 
          type="text" 
          name="campground[location]"
          required
          id="location"
          />
        <div class="valid-feedback">
          Nice!!! You've got a location.
        </div>
      </div>
      <div class="mb-3">
        <label 
          class="form-label"
          for="price">Camp Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input 
            class="form-control" 
            type="text " 
            name="campground[price]" 
            required
            id="price"
            placeholder="0.0" 
            aria aria-describedby="price-label" />
          <div class="valid-feedback">
            Nice!!! You've got a price.
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label class="form-label" for="description">Camp Description</label>
        <textarea  
          class="form-control" 
          type="text" 
          name="campground[description]"
          required
          id="description"></textarea>
        <div class="valid-feedback">
          Nice!!! You've got a description.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Camp Image</label>
        <input 
          class="form-control" 
          type="file" 
          name="image"
          required
          id="image"
          multiple 
          />
        <div class="valid-feedback">
          Nice!!! You've got an image.
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
  </body>
  <footer>
    <!-- <a href="/campgrounds">All Campgrounds</a> -->
  </footer>
  </div>
</div>
